{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Password Reset{% endblock %}


{% block middlepanel %}
    <!-- container main -->
        <div class="container-main">
            <!-- content panel login -->
            <section class="col-xs-14 col-sm-14 col-md-14 col-lg-14">
                <p>We have sent you an email for password reset please check your email</p>
            </section>
            <!-- end content panel login -->

            <!-- footer -->
            <footer class="col-xs-14 col-sm-14 col-md-14 col-lg-14 footer-main">
                <div class="col-lg-16 footer-div">&nbsp;</div>
                <div class="col-xs-16 col-sm-8 col-md-8 col-lg-8" style="padding-left:0;">
                    <div class="col-xs-16 col-sm-16 col-md-16 col-lg-7 pull-left">
                        <a href="#">Lost username?</a>
                    </div>
                    <div class="col-xs-16 col-sm-16 col-md-16 col-lg-6">
                        <a href="{% url 'account_password_reset' %}">Lost password?</a>
                    </div>
                </div>
                <div class="col-xs-16 col-sm-8 col-md-8 col-lg-8 text-right">
                    <a href="{% url 'account_signup'  %}" class="text-left">Not a member? Sign up now</a>
                </div>
            </footer>
            <!-- end footer -->
        </div>
    <!-- end container main -->

{% endblock %}



