{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Sign Up{% endblock %}




{% block middlepanel %}
    <!-- container main -->
        <div class="container-main">
            <!-- content panel login -->
            <section class="col-xs-14 col-sm-14 col-md-14 col-lg-14">
                {{ form.non_field_errors }}
                {{ form.username.errors }}
                {{ form.email.errors }}
                {{ form.first_name.errors }}
                {{ form.last_name.errors }}
                {{ form.password.errors }}
                {{ form.password_confirmation.errors }}

                <form class="col-xs-16 col-sm-16 col-md-16 col-lg-16" role="form" action="{% url 'account_signup' %}" method="post" >

                    {% csrf_token %}
                    <div class="row">
                        <input class="icon-user col-xs-16 col-sm-16 col-md-7 col-lg-6" type="text" name="{{ form.username.name }}" placeholder="{{form.username.label}}" required />
                        <input class="icon-user col-xs-16 col-sm-16 col-md-8 col-lg-6" type="email" name="{{ form.email.name }}" placeholder="{{form.email.label}}" required />
                        <input class="icon-user col-xs-16 col-sm-16 col-md-8 col-lg-6" type="text" name="{{ form.first_name.name }}" placeholder="{{form.first_name.label}}" required />
                        <input class="icon-user col-xs-16 col-sm-16 col-md-8 col-lg-6" type="text" name="{{ form.last_name.name }}" placeholder="{{form.last_name.label}}" required />
                        <input class="icon-password col-xs-16 col-sm-16 col-md-8 col-lg-6" type="password" name="{{ form.password.name }}" placeholder="{{form.password.label}}" required />
                        <input class="icon-password col-xs-16 col-sm-16 col-md-8 col-lg-6" type="password" name="{{ form.password_confirm.name }}" placeholder="{{form.password_confirm.label}}" required />
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-3 pull-right" style="padding:15px 4%;">
                            <button class="btn btn-default btn-lg btn-sutmit-login pull-right">Sign Up</button>
                        </div>
                    </div>
                </form>
            </section>
            <!-- end content panel login -->

            <!-- footer -->
            <footer class="col-xs-14 col-sm-14 col-md-14 col-lg-14 footer-main">
                <div class="col-lg-16 footer-div">&nbsp;</div>
                <div class="col-xs-16 col-sm-8 col-md-8 col-lg-8" style="padding-left:0;">
                    <div class="col-xs-16 col-sm-16 col-md-16 col-lg-7 pull-left">
                        <a href="#">Lost username?</a>
                    </div>
                    <div class="col-xs-16 col-sm-16 col-md-16 col-lg-6">
                        <a href="#">Lost password?</a>
                    </div>
                </div>
                <div class="col-xs-16 col-sm-8 col-md-8 col-lg-8 text-right">
                    <a href="#" class="text-left">Not a member? Sign up now</a>
                </div>
            </footer>
            <!-- end footer -->
        </div>
    <!-- end container main -->
{% endblock %}


